/* Reset básico para margens e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e0c4f2;
}

header {
    background-color:#590a7b;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 50px;
}

.logo-um {
    flex: 1;
    
}

nav > ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav > ul > li > a {
    text-decoration: none;
    color: white;
    font-weight: normal;
    padding: 5px 10px;
}

nav > ul > li > a:hover {
    color: rgb(196, 170, 210);
}

.conteudo-um {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
    background-color: #d4a9ed;
}

.texto-um {
    max-width: 60%;
    flex-direction: column;
    display: flex;
    line-height: 1.5; /* espacamento entre linhas */
    flex-direction: column; /* Empilha o h2 e o p verticalmente */
    text-align: justify;
    max-width: 40%; /* Limita a largura do texto até a logo-dois*/

}

.texto-um > h1 {
    font-size: 48px;
    color: #590a7b;
    margin-bottom: 10px; /* 20 distancia do titulo ate o paragrafo*/
    text-align: center; /* centraliza o titulo */
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3); /* efeito sombra no meu texto*/
}

.texto-um > p {
    font-size: 18px;
    text-align: justify; /* Justifica o parágrafo */
    word-spacing: 20px; /* espacamento entre as palavras*/
    color: #6f1291;
    font-weight: bold;
    
}

.imagem-um {
    max-width: 100%;
    border-radius: 10px;
}

footer {
    background-color: #590a7b;
    color: white;
}

.conteudo-dois {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
    padding: 60px;
}


.logo-dois {
    max-width: 180px; /* Ajuste o valor conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
}

.texto-dois{
    display: flex;
    line-height: 1.5; /* espacamento entre linhas */
    flex-direction: column; /* Empilha o h2 e o p verticalmente */
    text-align: justify;
    max-width: 50%; /* Limita apenas a largura do texto*/

    
}

.texto-dois > h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center; /* Alinha o titulo ao meio */
    
}

.texto-dois > p {
    font-size: 16px;
    word-spacing: 12px;
    text-align: justify; /* Justifica o parágrafo */
   
}

.barra-inferior {
    background-color: #d4a9ed;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    color:#590a7b;
}

.adapti-texto {
    color: white;
    font-weight: bold;
}
